/* I believe I need a reset file for this homework
this one is from class because I didnt have enough time to make one - I plan to update when i have more time*/
/* Resets the box size of every element */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Gives the body element a parent height to compare against */
html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: sans-serif;
}


/* Removes default bullet points from lists */
ol, ul {
  list-style: none;
}
